.adminAddCategoryPage__container {
    display: flex;
}

.adminAddCategoryPage__sidebar {
    position: sticky;
    top: 0;
    flex: 0.01;

}

.adminAddCategoryPage__content {
    margin: 5px;
    padding: 8px;
    flex: 0.99;
}

.adminAddCategoryPage__content--button{
    display: block;
    width: 20%;
    margin: 20px auto;
    background-color: rgb(68 177 49);
    color:white;
}